body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(233, 230, 201);
}

h1 {
  letter-spacing: 0.5em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgb(242, 255, 0);
  background-color: rgba(255, 230, 0, 0.164);
  text-transform: uppercase;
}

h2 {
  letter-spacing: 0.5em;
  font-weight: bold;
  color: rgb(24, 24, 29);
  text-shadow: 1.5px 1.5px 5px rgb(230, 241, 11);
  text-transform: uppercase;
}

.searchBG {
  background-color: rgba(184, 135, 11, 0.342);
}

.btn {
  background-color: rgba(40, 43, 23, 0.329);
  border: none;
  color: #000000;
  margin-top: 0px;
}

/* CURRENT WEATHER */
#todayDiv {
  background-color: rgba(0, 0, 0, 0.185);
  /* border: solid rgb(48, 48, 48) 1px; */
  /* border-radius: 3px; */
  height: 450px;
  /* margin: auto; */
  /* width: 75%; */
  padding: 2%;
}

#today {
  font-size: 15px;
  text-transform: uppercase;
}

/* 5 day forecast header and container? */
.forecast {
  justify-content: center;
  font-size: 0.2em;
  letter-spacing: 0.5em;
  margin: 10px;
  text-transform: uppercase;
  background-color: rgba(71, 73, 42, 0.589);
}

.row {
  text-align: center;
}

/* FORCAST */

.forecastDivs {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.container {
  height: 15em;
  width: 9em;
  background-color: rgba(0, 0, 0, 0.308);
  /* margin-block-start: 0rem; */
}
.block {
  width: 50vh;
  padding: 8px;
  display: inline-block;
  margin: 8px;
  background-color: rgba(167, 153, 32, 0.411);
  color: rgb(0, 0, 0);
  text-shadow: 3px 2px 5px rgb(255, 255, 255);
}

/* .forecastDisplay,
.todayDisplay {
  display: none;
} */

/* WOW */
.history {
  background: rgba(108, 112, 87, 0.123);
  font-size: 20px;
  padding: 10px;
  /* border: .5px solid rgb(73, 72, 72); */
  margin: 5px;
}

.pointer {
  cursor: pointer;
}

.clickable-row:hover {
  background: #00000018;
}

.hide {
  display: none;
}

/* #search-button {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.clearHistory {
  transition: all 0.3s ease-in-out;
  background-color: rgba(40, 43, 23, 0.555);
}

.fa-search {
  color: rgb(11, 12, 14);
  transition: all 0.3s ease-in-out;
}

:hover {
  background: rgba(128, 133, 33, 0.76);
} */

/* .todaysInfo {
  font-size: 63px;
  text-transform: uppercase; */
/* margin-left: 50%; */
/* margin-right: 40%; */
/* } */
/*5 day forcast header */

/* .card {
  justify-content: space-between;
} */

/* .forecastDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  background-color: rgba(65, 64, 57, 0.445);
} */
